/* 
..........................................................................................................
                                            common css
..........................................................................................................
*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

img {
    vertical-align: middle;
    width: 100%;
    height: auto;
}



/* variable */
:root {
    --body-clr: #fff;
    --danger-clr: rgb(255, 98, 0);
    --danger-clr-hover: rgb(121, 48, 3);
    --primary-clr: #967cff;
    --primary-clr-hover: #7250fa;
    --text-clr: #666;
    --text-sec: rgb(143 141 141);
    --nav-link-clr: #606060;
    --nav-link-clr-active: #222222;
    --link-weight: 400;
    --border-clr: #ebe5e5;
    --link-clr: rgb(0, 115, 255);
    --secondary-clr: #999;
    --primary-text-clr: rgb(19 226 249);
    --primary-text-clr-hover: rgb(11, 150, 165);

}
::placeholder {
    font-size: 13px;
}

body {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    background: #fff;
}

/**
 avatar design
*/
.avatar {
    display: inline-block;
    height: 60px;
    width: 60px;
    border-radius: 50%;
    overflow: hidden;
}

.avatar img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/*
    common content box styles
*/
.content-box {
    width: 100%;
}

/*
    common button
*/
.cmn-btn {
    padding: 10px 25px;
    border: 0;
    outline: 0;
    border-radius: 30px;
    background: #fffdfd;
    font-weight: 600;
    line-height: 1.4;
}


/* 
...................................................................................................................................
                                                                side nav box 
...................................................................................................................................
*/
.side-nav {
    position: fixed;
    left: 0;
    top: 0;
    padding: 0;
}

.side-nav .side-nav-box {
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
    border-right:  1px solid var(--border-clr);
    position: relative;  
    box-sizing: border-box;
    padding: 30px;
}

/* brand box */
.side-nav .side-nav-box .brand-name {
 
    display: flex;
    align-items: center;
    justify-content: start;
    padding: 20px 0px;
}

/* ======================= user profile list box =======================*/
.side-nav-box .user-profile {
   padding: 0;
   display: flex;
   align-items: center;
   justify-content: start;
   flex-direction: row;
}

.side-nav-box .user-profile .avatar {
   height: 35px;
   width: 35px;
   margin-right: 20px;
   border: 1px solid var(--nav-link-clr);
   
}

.side-nav-box .user-profile span {
    font-size: 20px;
    text-transform: capitalize;
    color: var(--nav-link-clr);
    font-weight: var(--link-weight);
   
}

/* ================================ menu box ======================= */


.side-nav-box-list .nav-item {
    text-transform: capitalize;
    border: 0;
    padding: 0;
    margin: 20px 0px;
}
.active  {
    color: var(--nav-link-clr-active) !important;
    background: transparent;
    font-weight: 500 !important;
}

.active span {
    color: var(--nav-link-clr-active) !important;
    font-weight: 500 !important;
}

.side-nav-box-list .nav-item a {
    color: var(--nav-link-clr);
    font-size: 20px;
    display: flex;
    align-items: center;
    font-weight: var(--link-weight);
}
.side-nav-box-list .nav-item a svg {
    height: 35px;
    width: 35px;
    margin-right: 20px;
}



/* 
......................................................................................................................
                                                right content box 
......................................................................................................................
*/
.right-content {
    position: fixed;
    right: 0;
    top: 0;
}

.right-content .right-content-box {
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
    padding: 15px;
    background-color: var(--body-clr);
}
.right-content .right-content-box .profile-link  {
    width:  100%;
}

.right-content .right-content-box .profile-link .user-profile {
    display: flex;
    align-items: center;
    flex-direction: row;
}
.right-content .right-content-box .profile-link .user-profile .avatar {
   border: 2px solid var(--primary-clr-hover);
}
.right-content .right-content-box .profile-link .info {
    font-size: 16px;
    font-weight: 500;
    margin-left: 20px;
    display: flex;
    align-items: start;
    flex-direction: column;
    justify-content: center;
    
}
.right-content .right-content-box .profile-link .info .username {
    color: var(--nav-link-clr-active);
    text-transform: capitalize;
}
.right-content .right-content-box .profile-link .info .designation {
    color: var(--nav-link-clr);
}
/* mehu list */
.right-content .right-content-box .right-nav {
   margin-top: 15px;
}
.right-content .right-content-box .right-nav .right-nav-item {
    border: 0;
}
/* menu header style */
.right-content .right-content-box .right-nav .header {
    font-size: 15px;
    color: var(--secondary-clr);
    text-transform: uppercase;
    font-weight: 500;
    border: 0;
}
/* menu list style */

.right-content .right-content-box .right-nav .right-nav-item {
    margin: 5px 0px;
    display: flex
}

.right-content .right-content-box .right-nav .right-nav-item a {
    display: flex;
    align-items: center;
}
.right-content .right-content-box .right-nav .right-nav-item a .profile-container {
    flex: 1;
}
.right-content .right-content-box .right-nav .right-nav-item a .profile-container .avatar {
    display: block;
    height: 40px;
    width: 40px;
    margin-right: 10px;
}
.right-content .right-content-box .right-nav .right-nav-item a .avatar img {
    height: 100%;
    width: 100%;
}
.right-content .right-content-box .right-nav .right-nav-item a .msg-preview {
    display: flex;
    flex: 11;
    flex-direction: column;
    font-size: 12px;
}

.right-content .right-content-box .right-nav .right-nav-item a .msg-preview .name {
    color: var(--nav-link-clr);
    text-transform: capitalize;
}
.right-content .right-content-box .right-nav .right-nav-item a .msg-preview .msg {
    color: var(--nav-link-clr-active);
}

/* 
..............................................................................................................
                                                    mid box 
..............................................................................................................
*/
.mid-content .mid-content-box {
    overflow-x: hidden;
    overflow-y: auto;
    padding: 10px;
   
}

/* for scrollbar */

.right-content .right-content-box::-webkit-scrollbar,
.side-nav .side-nav-box::-webkit-scrollbar {
    width: 8px;
}

.right-content .right-content-box::-webkit-scrollbar-track,
.side-nav .side-nav-box::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
}

.right-content .right-content-box::-webkit-scrollbar-thumb,
.side-nav .side-nav-box::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: #6a6a6ab5;
}

/*
...........................................................................................
                                    create post box style
...........................................................................................
*/
.create-post-box {
    display: flex;
    align-items: center;
    padding: 20px;
    background-color: var(--body-clr);
    border-radius: 20px;
    border: 1px solid var(--border-clr);

}

.create-post-box  .avatar {
    height: 50px;
    width: 50px;
    border: none;
    margin-left: 8px;
}

.create-post-box input {
    width: 90%;
    border: 0;
    outline: 0;
    padding: 15px 30px;
    border-radius: 30px;
    margin-left: 8px;
    background: #ededed;
    color: #504c4c;
}
.create-post-box input:focus {
    background-color: #ededed;
}



/* ================= create post model styles ======================== */

.create-post-box .modal-dialog {
    max-width: 600px;
}

.create-post-model {
    background: var(--body-clr);
}

.create-post-model .modal-header {
    border-bottom: 1px solid var(--border-clr);
}
.create-post-model .modal-header .btn-close,
.create-post-model .modal-header .modal-title {
    text-transform: uppercase;
    font-size: 18px;
    padding: 10px;
    color: var(--text-clr);
    font-weight: 600;
}

.create-post-model .modal-header .btn-close {
    font-size: 30px;
    background: none;
}


/* create post footer style */
.create-post-model  .modal-footer  {
    border-top: none;
}

/* create post button style */
.create-post-model  .modal-footer .cancel-btn {
    background: var(--danger-clr);
    color: #f1f1f1;
    transition: 0.2s;
    text-transform: uppercase;
}

.create-post-model  .modal-footer .cancel-btn:hover {
    background: var(--danger-clr-hover);

}

.create-post-model  .modal-footer .create-btn {
    background: var(--primary-clr);
    color: #f1f1f1;
    transition: 0.2s;
    text-transform: uppercase;
}   

.create-post-model  .modal-footer .create-btn:hover {
    background: var(--primary-clr-hover);
   
}

.create-post-model  .modal-body input {
    width: 100%;
    margin-left: 0;
    color: var(--text-clr);
    background: transparent;
    border: 1px solid var(--border-clr);
    
}

/* create post text area style*/
.create-post-model  .modal-body textarea {
    border: 0;
    outline: 0;
    padding: 15px 30px;
    border-radius: 30px;
    border: 1px solid #464646;
    background: transparent;
    color: var(--text-clr);
    line-height: 1.4;
  
}

/* post file input style */
.create-post-model  .modal-body img {
    border-radius: 30px;
    display: none;
}

.create-post-model  .modal-body .post-file-input-box  {
    width: 100%;
}

.create-post-model .modal-body .post-file-input-box label {
    display: flex;
    align-items: center;
    color: var(--text-clr);
    padding: 10px;
    text-transform: capitalize;
    font-size: 18px;

}
.create-post-model .modal-body .post-file-input-box label svg {
    font-size: 30px;
    margin-right: 10px;
    color: var(--text-clr);

}

.create-post-model .modal-body .post-file-input-box input {
    display: none;
}



/*
.........................................................................................................
                                                post style
.........................................................................................................
*/

.post {
    width: 100%;
    background: var(--body-clr);
    margin: 20px 0px;
    border-radius: 5px;
    border: 1px solid var(--border-clr);
}

.post .post-title {
    display: flex;
    align-items: center;
    justify-content: start;
    color: var(--text-clr);
    padding: 20px;
}
.post .post-title .avatar {
    height: 40px;
    width: 40px;
    border: none;
    margin-right: 10px;
}
.post .post-title .name {
    font-size: 18px;
    color: var(--nav-link-clr-active);
    text-transform: lowercase;
    font-weight: 600;
    
}

/* ==== post image ======= */
.post .post-image {
    height: auto;
    width: 100%;
}

.post .post-image a  {
    display: block;
    width: 100%;
    height: 100%;
}

.post .post-image a img {
    height: auto;
    width: 100%;
    object-fit: cover;
}



/* ====== post action ======== */
.post .post-action {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 20px;
}

.post .post-action .react-action-box {
    font-size: 30px;
    display: flex;
    align-items: center;
    justify-content: start;

}
.post .post-action .react-action-box button {
    border: 0;
    background: transparent;
    transition: 0.2s;
}

.post .post-action .react-action-box button:hover {
    transform: scale(1.1);
}

.react-counter {
    font-size: 15px;
    margin-left: 10px;
    text-transform: capitalize;
    color: var(--nav-link-clr-active);
    font-weight: 500;
}


.post .post-action .react-action-box .love {
    color: var(--nav-link-clr);
}

.post .post-action .love {
    cursor: pointer;
}


.love.react svg {
    color: red;
   
}

/* ====== post text ===== */
.post .post-text {
    padding: 8px 20px;
    color: var(--text-clr);
    font-size: 15px;
    line-height: 1.4;
    font-weight: 400;
}

.post .post-text .comment-show {
    cursor: pointer;
    color: var(--link-clr);
    display: block;
    text-transform: capitalize;
}
/* ==== comment form */
.post .comment-box {
    width: 100%;
    padding: 5px 15px;
    border-top: 1px solid var(--border-clr);
}
.post .comment-box form {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}


.post .comment-box form textarea {
    flex: 11;
    border: 0;
    outline: 0;
    padding: 10px;
    margin-right: 10%;
    overflow: auto;
    resize: none;
}
.post .comment-box form button {
    flex: 1;
    
    border: none;
    outline: none;
    background-color: var(--primary-clr);
    color: white;
    padding: 8px 15px;
    font-weight: 500;
    border-radius: 10px;
}
.post .comment-box form button:hover {
    background-color: var(--primary-clr-hover);
}

/* comment list style */

.comment-list {
    border: 0;
    border-top: 1px solid var(--border-clr);
}
.comment-list .comment {
    width: 100%;
    background-color: rgb(243 243 243);
    padding: 20px;
    margin: 5px 0px;
    border-radius: 20px;
}
.comment-list .comment .profile-link {
    display: inline-flex;
    align-items: start;
    justify-content: start;
    margin-right: 2px;
}

.comment-list .comment .profile-link .avatar {
    height: 30px;
    width: 30px;
    margin-right: 8px;
}
.comment-text {
    display: inline-flex;
}


/* 
.............................................................................................................
                                                messanger
.............................................................................................................
*/

.messanger-box {
    height: 90vh;
    width: 100%;
    border: 1px solid var(--border-clr);
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
    overflow: hidden;
    
}

.messanger-header {
    display: flex;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid var(--border-clr);
    flex: 1;
}
/* .profile-ref  styles */
.profile-ref {
    height: 100%;
    flex: 4;
    border-right: 1px solid var(--border-clr);
    display: flex;
    flex-direction: column;
}
.profile-ref .messanger-header {
    justify-content: center;
}
.profile-ref .profile-ref-body {
    flex: 11;
    overflow-x: hidden;
    overflow-y: auto;
}
.profile-ref .profile-ref-body .list-group {
    margin-top: 8px;
}
.profile-ref .profile-ref-body .list-group .list-group-item {
    border: none;
}
.profile-ref .profile-ref-body .list-group .list-group-item a {
    display: flex;
    align-items: center;
}
.profile-ref .profile-ref-body .list-group .list-group-item a .avatar {
    height: 40px;
    width: 40px;
    margin-right: 10px;
}
.profile-ref .profile-ref-body .list-group .list-group-item a .msg-preview {
 
    font-weight: 500;
    text-transform: capitalize;
    display: flex;
    flex-direction: column;
    font-size: 12px;
}
.profile-ref .profile-ref-body .list-group .list-group-item a .msg-preview .name {
    color: var(--nav-link-clr-active);
}
.profile-ref .profile-ref-body .list-group .list-group-item a .msg-preview .msg {
    color: var(--nav-link-clr);
}

/* messanger body style */
.messanger-ref {
    flex: 8;
    height: 100%;
    display: flex;
    flex-direction: column;
  
}
.messanger-ref .messanger-header {
   justify-content: start;
}

.messanger-ref .messanger-header span {
    text-transform: capitalize;
}

.messanger-ref .messanger-header .avatar {
    height: 35px;
    width: 35px;
    margin-right: 10px;
}
.messanger-ref .messanger-ref-body {
    flex: 11;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.messanger-ref .messanger-ref-body .message-send-form {
    display: block;
    width: 100%;
    padding: 10px;
    border: 1px solid var(--border-clr);
    flex: 1;
    display: flex;

}
/* message input style */
.messanger-ref .messanger-ref-body .message-send-form input {
    flex: 11;
    border: 0;
    outline: 0;
    padding: 10px;
}

/* mesage send style */
.messanger-ref .messanger-ref-body .message-send-form button {
    flex: 1;
    border: 0;
    outline: 0;
}

/* message box styles */
.messanger-ref .messanger-ref-body .messages {
    flex: 11;
    overflow-x: hidden;
    overflow-y: auto;
    padding: 10px;
   
}



.messanger-ref .messanger-ref-body .messages .message {
    display: flex;
    align-items: flex-end;
    margin: 20px 0px;
}

.messanger-ref .messanger-ref-body .messages .message-content {
    padding: 10px;
    background-color: #f3f3f3;
    border-radius: 20px;
}

/* recived message style */
.messanger-ref .messanger-ref-body .messages .recived-message {
    margin-right: 100px;
}

.messanger-ref .messanger-ref-body .messages .recived-message a .avatar {
    height: 30px;
    width: 30px;
    margin-right: 15px;
}


/* send message style */
.messanger-ref .messanger-ref-body .messages .send-message {
        justify-content: end;
        background-color: transparent;
        border-radius: 20px;
        margin-left: 100px;
}



/**
..............................................................................................
                                                user profile style
..............................................................................................
*/
.profile-info {
    display: flex;
    border-bottom: 1px solid var(--border-clr);
    padding: 20px 0px;
}
.profile-image {
    flex: 4;
    display: flex;
    align-items: center;
    justify-content: center;
}
.profile-image .avatar {
    height: 100px;
    width: 100px;
    border: 1px solid var(--border-clr);
}

.profile-details {
    flex: 8;
    display: flex;
    align-items: start;
    flex-direction: column;
}
.profile-details h3 {
    font-size: 20px;
}
.profile-details h3 a {
    padding: 5px 8px;
    color: var(--nav-link-clr);
    border: 1px solid var(--border-clr);
    border-radius: 8px;
    margin-left: 20px;
}
/* ============================== profile create post style ======================= */
.profile-content .create-post .create-post-box {
    padding: 0;
    display: inline-block;
    border: 0;

}
.profile-content .create-post .create-post-box #create-post {
    outline: 0;
    padding: 5px 8px;
    margin: 10px 0px;
    text-transform: capitalize;
    background-color: transparent;
    border: 1px solid var(--border-clr);
    font-weight: 500;
}


.current-user-post-only {
    max-width: 540px;
    margin: 0 auto;
}

/* 
......................................................................................................
                                        edit profile
......................................................................................................
*/
.profile-edit-box {
    padding: 20px;
    border: 1px solid var(--border-clr);

}

.action-box {
    display: flex;
    align-items: center;
    margin: 10px 100px;
}
.action-box button {
    border: 0;
    padding: 8px 20px;
    background-color: var(--link-clr);
    color: #fff;
    font-weight: 500;
    border-radius: 10px;
}

.edit-field {
    display: flex;
    align-items: center;
    margin: 30px 0px;
}
.edit-field .field {
    flex: 4;
    display: flex;
    justify-content: center;
    align-items: center;
}
.edit-field .value {
    flex: 8;
}
.image-change label {
    color: var(--link-clr);
}
.image-change input {
    display: none;
}


/*
,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
                                                register page styles
,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
*/
.form-page-container {
    width: 100%;
    border: 1px solid var(--border-clr);
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    
}
.form-page-container .side-content-box {
    flex: 5;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--primary-clr-hover);
    color: var(--body-clr);
    flex-direction: column;
}

.form-page-container .side-content-box h1 {
    font-size: 40px;
    padding: 0px 50px;
}

.form-page-container .side-content-box h1 span {
    font-size: 70px;
    font-weight: 700;
}

.form-page-container .side-content-box p {
    font-size: 18px;
}

.form-page-container .side-content-box p a {
    color: var(--primary-text-clr);
}
.form-page-container .side-content-box p a:hover {
    color: var(--primary-text-clr-hover);
}

.form-page-container .side-content-box img {
    height: 100% !important;
    width: 100% !important;
    object-fit: cover;
}

.form-page-container .success-box,
.form-page-container form {
    flex: 7;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: var(--body-clr);
}

.form-page-container form .form-header {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    font-size: 25px;
    padding: 20px 0px;
    /* border-bottom: 1px solid var(--border-clr); */
   
}

.form-page-container form .form-field {
    width: 100%;
    display: flex;
    align-items: flex-start;
    box-sizing: border-box;
    padding: 10px 20px;
}
.form-page-container form .form-field .input-box  {
    flex: 9;
    margin-right: 30px;
    display: flex;
    align-items: start;
    flex-direction: column;

}

.form-page-container form .form-field .input-box input
 {
    width: 100%;
    border: 1px solid var(--border-clr);
    padding: 10px 15px;
    outline: none;
    border-radius: 5px;
    transition: 0.2s;
   
}
.form-page-container form .form-field .input-box input.input-error {
    border-color: red;
}
.form-page-container form .form-field .input-box input:focus {
    border: 1px solid var(--nav-link-clr-active);
}

.form-page-container form .form-field .label {
    flex: 3;
    display: flex;
    justify-content: flex-end;
    align-items: start;
    margin-right: 20px;
    font-size: 15px;
}
.form-page-container form .form-field .input-box  .help-text {
    font-size: 12px;
    color: var(--secondary-clr);
    margin: 0;
}

.form-page-container form .form-field .input-box  .help-text.error {
    color: red;
}
.form-btn {
    outline: 0;
    border: 1px solid var(--border-clr);
    padding: 10px 20px;
    transition: 0.2s;
    border-radius: 20px;
}
.form-btn:hover {
    background-color: var(--secondary-clr);
    color: var(--body-clr);
}
/* 
,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
                                                        login page style
,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
*/

.login-box {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 90vh;
}
.login-box .side-content-box {
    height: 100%;
}
.login-box form .form-field {
   padding: 10px 150px;
}

.login-box form .form-field .input-box {
    margin: 0;
    
}
